/* NAVBAR */
@font-face {
    font-family: 'regular';
    src: url("/src/fonts/font-regular.woff2");
}
.navbar{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(26,30,31);
    gap: 400px;
    padding: 23px 0;
    position: relative;
    
}
.nav-container{
    position: fixed;
    width: 100%;
    z-index: 1;
    transition: all 0.5s ease;
}

.nav-transparent{
    opacity: 0.9;
}

.primary-color{
    color: rgb(0,174,243);
}

.nav-list{
    display: flex;
    gap: 45px;
    color: rgb(244,244,244);
    align-items: center;  
    padding-right: 20px;
}
.nav-list a{
    font-size: 14px;
    text-decoration: none;
    color: #f4f4f4;
    transition: 0.5s;  
    font-family: "regular";
    font-weight: 100;
}

.navbar li{
    list-style: none;
    font-weight: 100;
    font-family: "regular"; 
    cursor: pointer; 
}
.nav-list a:hover{
    color: rgb(5,146,199);
    cursor: pointer;
    transition: 0.5s;
}
.navbar img{
    cursor: pointer;
}