
@import url('/src/styles/queries.css');

*{
    margin: 0;
    padding: 0;
}

/* NAVBAR */
html{
      overflow-x: hidden;
      scroll-behavior: smooth;
}
body{
    overflow-x: hidden;
}
.navbar{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(26,30,31);
    gap: 350px;
    padding: 24px 0;
    position: relative;
    
}
.nav-container{
    position: fixed;
    width: 100%;
    z-index: 1;
            transition: all 0.5s ease;

    /* background:transparent; */
    /* opacity: 0.9; */
}

.nav-transparent{
    opacity: 0.9;
}

.primary-color{
    color: rgb(0,174,243);
    /* padding-left: 10px; */
}

.nav-list{
    display: flex;
    gap: 40px;
    color: rgb(244,244,244);
    align-items: center;  
    
}

.navbar li{
   list-style: none;
   font-weight: 100;
    font-family: Arial, Helvetica, sans-serif;

}
.navbar li:hover{
    color: rgb(5,146,199);
    cursor: pointer;
    transition: 0.5s;
}

/* background section */
.text-34{
    font-size: 34px;
}

.text-32{
    font-size: 32px;
    color:rgba(244, 244, 244, 0.367) ;
    color:rgb(244,244,244) ;
}

.background-img div{
    display: flex;
    flex-direction: column;
   
}

.tbc-info{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(43,43,43);
    padding: 65px 0px;
}
.tbc-info div{
    display: flex;
    flex-direction: column;
    gap: 40px;
}
.tbc-info a{
    /* color:rgb(0,174,211); */
    cursor: pointer;
    font-size: 22px;
    font-weight: 900;
}
.tbc-info a:hover{
    color:rgb(170,170,170)
}

.line-height{
    line-height: 46px;
    font-family: Arial, Helvetica, sans-serif;
  
}
/* ///////// */

.background-container {
    position: relative;
    margin-top: 85px;
   
}

.background-img {
    background-image: url('/src/images/background-tbc.webp');
    width: 100%;
    height: 352px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
   
}

.text-overlay {
    position: absolute;
    top: 50%; 
    left: 43%; 
    transform: translate(-50%, -50%);
    color: rgb(244,244,244); 
    font-family: 900;
    font-family: sans-serif;
}

.text-overlay span{
    font-size: 42px;
    font-weight: 800;
}

.text-overlay h1{
    line-height: 66px;
}


/* mbile nav */

.btn-mobile-nav{
    border: none;
    background: none;
    cursor: pointer;
    display: none;
}

.btn-close-nav{
    display: none;
}



/* courses-section */

.courses-section{
    display: flex;
    justify-content: center;
    background-color: rgb(22,22,22);
    color: white;
   padding-top: 40px;
   padding-left: 300px;
   padding-right: 300px;
   padding-bottom: 50px;
}



.box-wrapper{
display: flex;
gap: 40px;
flex-wrap: wrap;
width: 100%;
justify-content: center;
}
.box-header{
    margin-bottom: 60px;
    color: rgb(219,219,219);
    /* padding-left: 160px; */
}

.box-img{
    display: flex;
    flex-direction: column;
    gap: 20px;

    border: 1px solid rgb(85,85,85);
    border-radius: 6px;
    padding-bottom: 30px;
    

}

.box-img div{
    padding-left: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.box-img a {
    cursor: pointer;
    margin-top: 80px;
    font-size: 18px;
    color: rgb(0,173,237);
    transition: all 0.3s ease; 
    display: flex;
    align-items: center;
    gap: 10px;
    
   
}
.box-img a:hover{
    color: rgb(6,130,177);
    transition: all 0.3s ;
}

.box-img div{
    margin-top: 20px;
}

.box-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
}



.text-18{
    font-size: 18px;
    color: rgb(207,207,207);
    font-weight: 900;
}

.text-14{
    font-size: 14px;
    color: rgb(236,236,236);
    font-weight: 800;


}

.partner-box{
    display: flex;
    flex-direction: column;
    gap: 100px;

}



@media (max-width: 750px){

    .nav-hidden {
        transition: all 0.5s ease;
  transform: translateY(-100%);
}
     .btn-mobile-nav{
        display: block;
    }
   
    .nav-list{
    display: none; 
    /* transform: translateX(1%); */
    /* visibility: hidden; */
   
    }
  

    .navbar{
    display: flex;
    /* align-items: center; */
    justify-content:space-between;
    padding: 20px;
    

    }
    .text-34{
        font-size: 28px;
    }
    .text-overlay{
        left: 35%;
    }
    .text-overlay span{
        font-size: 34px;
    }
    .text-overlay h1{
    line-height: 46px;
}
   .text-32 {
    font-size: 20px;
    padding: 0px 10px;
}   .line-height{
    line-height: 30px;
}
.menu-icon{
    fill: aliceblue;
}

.navbar-open{
    position: absolute;
    background-color: rgb(26,30,31);
    top: 0;
    right: 0;
    width: 50%;
    height: 100vh;
    display: flex;
    align-items: end;
    justify-content: start;
    z-index: 1;
    flex-direction: column;
    padding: 20px;
    padding-top: 40px;
   

} 
.close-menu-icon{
    display: block;
}



.btn-close-nav{
    border: none;
    background: none;
    cursor: pointer;
    display: block;
}
}

/* project partners section */

.project-partners{
    background-color: rgb(43,43,43);
    color: rgb(231,244,244);
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 50;
    padding: 30px 80px;
    padding-bottom: 100px;
}
.partners-box{
    display: flex;
    justify-content: space-between;
}
.right-arrow{
   cursor: pointer;
   rotate: 180deg;
   /* fill:rgb(226,224,224) */
}
.right-arrow:hover{
    fill: rgb(181,179,179);
}
.arrow{
    cursor: pointer;
    fill: white;
}
.arrow:hover{
    fill: rgb(181,179,179);
}
.partners-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 120px;
    align-items: center;
}

.partners-box{
    display: flex;
    /* flex-direction: column; */
    /* gap:100px; */
    align-items: center;
}

.partner-box h2{
    padding-left: 430px;
}
.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 40px; 
  /* padding: 20px; */
}

@media (max-width: 950px){
    .grid-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 40px; 
  /* padding: 20px; */
}
   .box-header{
    padding-left: 0;
   }
   .tbc-info{
    padding: 65px 30px;
   }
 
    .navbar{
    gap: 150px;
    }
    .text-overlay{
        left: 40%;
    }
    .partners-wrapper{
    flex-direction: column;
    gap: 50px;
}
.partner-box h2{
    text-align: center;
    padding-left: 0;
}
.project-partners{
    padding: 0;
}

.partner-box{
    padding: 30px 0;
    display: flex;
    flex-direction: column;
    gap: 60px;
}
.arrow, .right-arrow{
    display: none;
}
.partners-box{
    justify-content: center;
}
}

@media (max-width: 450px){
    .grid-container {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 40px; 
  /* padding: 20px; */
}
.navbar{
    display: flex;
    justify-content: center;
    gap:100px
}
.tbc-info{
    padding: 30px 0;
}

.courses-section{
    padding-left: 0;
    padding-right: 0;
    padding: 20px 0;
}
/* .box-header{
    margin-left: 50px;
} */
.tbc-info div{
    padding-left: 20px;
}
.box-header h2{
    /* padding-left: 10px; */
    font-size: 28px;
    font-family: Arial, Helvetica, sans-serif;
}
.primary-color{
    padding-left: 10px;
}
.box-wrapper{
    gap: 20px;
}
.box-header{
    margin-bottom: 20px;
}
.text-overlay{
    left: 50%;
}
.text-overlay span{
    font-size: 28px;
}
.box-img a{
    margin-top: 0;
}

}

@media (max-width:650px){
    .grid-container {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 40px; 
  /* padding: 20px; */
}
}

@media (max-width: 1350px){
    .courses-section{
        padding-left: 0;
        padding-right: 0;
    }
    .partners-wrapper{
        gap: 40px;
    }
}

@media (max-width: 1650px){
 .box-header{
    padding-left: 0;
   }
    .courses-section{
        padding-left: 0px;
        padding-right: 0px;
    }
}
