*{
    margin: 0;
    padding: 0;
}
html{
    overflow-x: hidden;
    scroll-behavior: smooth;
}
body{
    overflow-x: hidden;
}

@font-face {
    font-family: 'regular';
    src: url("/src/fonts/font-regular.woff2");
}

@font-face {
    font-family: "bold";
    src: url('/src/fonts/font-bold.woff2');
}
@font-face {
    font-family: "semiBold";
    src: url("/src/fonts/font-semiBold.woff2");
}

/* background section */
.background-img div{
    display: flex;
    flex-direction: column;  
}
.tbc-info{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(43,43,43);
    padding: 65px 0px;
}
.tbc-info div{
    display: flex;
    flex-direction: column;
    gap: 40px;
}
.tbc-info a{
    /* color:rgb(0,174,211); */
    cursor: pointer;
    font-size: 22px;
    font-weight: 900;
    align-self: flex-start;
    transition: all 0.3s ease;
font-family: "semiBold";
}
.tbc-info a:hover{
    color:rgb(170,170,170);
    transition: all 0.3s ease;
}

.line-height{
    line-height: 46px;
    font-family: Arial, Helvetica, sans-serif;
}
/* ///////// */

.background-container {
    position: relative;
    margin-top: 85px;
}

.background-img {
    background-image: url('/src/images/background-tbc.webp');
    width: 100%;
    height: 352px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
}

.text-overlay {
    position: absolute;
    top: 50%; 
    left: 40%; 
    transform: translate(-50%, -50%);
    color: rgb(244,244,244); 
    font-family: 900;
    font-family: sans-serif;
}
.text-overlay span{
    font-size: 44px;
    font-weight: 800;
}
.text-overlay h1{
    line-height: 66px;
    font-family: "bold";
    /* font-size: 36px; */
}
.navbar-open{
    display: none;
}

/* mobile nav */
.btn-mobile-nav{
    border: none;
    background: none;
    cursor: pointer;
    display: none;
}

.btn-close-nav{
    display: none;
}

/* courses-section */
.courses-section{
   display: flex;
   justify-content: center;
   background-color: rgb(22,22,22);
   color: white;
   padding-top: 40px;
   padding-left: 300px;
   padding-right: 300px;
   padding-bottom: 50px;
}
.box-wrapper{
display: flex;
gap: 40px;
flex-wrap: wrap;
width: 100%;
justify-content: center;
}
.box-header{
    margin-bottom: 60px;
    color: #DBDBDB;
    font-family: "thin";
}

.box-img{
    display: flex;
    flex-direction: column;
    gap: 20px;

    border: 1px solid rgb(85,85,85);
    border-radius: 6px;
    padding-bottom: 30px;
}

.box-img div{
    padding-left: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.box-img a {
    cursor: pointer;
    margin-top: 80px;
    font-size: 18px;
    color: rgb(0,173,237);
    transition: all 0.3s ease; 
    display: flex;
    align-items: center;
    gap: 10px;
    font-family: "regular";
}
.box-img a:hover{
    color: rgb(6,130,177);
    transition: all 0.3s ;
}

.box-img div{
    margin-top: 20px;
}

.box-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.partner-box{
    display: flex;
    flex-direction: column;
    gap: 100px;
}

.partners-wrapper div{
    display: flex;
    align-items: center;
}

/* FAQ SECTION */
.faq-section{
    background-color: rgb(22,22,22);
    padding: 80px 0;
    display: flex;
    justify-content: center;
}
.faq-link{
    display: flex;
    justify-content: space-between;
    padding-bottom: 20px;
}
.faq-link a{
    transition: all 0.3s ease;
    font-weight: 700;

}
.faq-link a:hover{
    color:rgb(170,170,170);
    transition: all 0.3s ease;
}

.questions{
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    padding-bottom: 25px;
    font-family: Arial, Helvetica, sans-serif;

}
.questions-wrapper{
    border-bottom: 1px solid rgb(53,49,49);
}

.questions p {
    font-size: 20px;
    color:rgb(244,244,244) ;
}

.faq-box{
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.hidden-box p {
    /* padding: 30px; */
    line-height: 30px;
}
.hidden-box ul {
    padding: 20px 10px;
    list-style: none;
}
.hidden-box p{
    font-size: 18px;
}
.hidden-box{
    padding-bottom: 10px;
}
.hidden-box-2{
    border-bottom: 1px solid rgb(53,49,49);
    padding-bottom: 10px;
}
.hidden-box-3{
    border-bottom: 1px solid rgb(53,49,49);
    padding-bottom: 10px;
}
.hidden-box-2 p{
    font-size: 18px;
    line-height: 30px;
}
.hidden-box-3 p{
    font-size: 18px;
    line-height: 30px;
}
.custom-partners-wrapper {
            display: flex;
            justify-content: center; /* Center groups horizontally */
            overflow: hidden;
        }

        .custom-partners-wrapper .custom-group {
            display: flex;
            text-align: center; 
            gap: 120px;
        }

        .custom-partners-wrapper img {
            max-width: 100%;
            height: auto;
            display: none;
            margin: 0 auto; 
            transition: opacity 1s ease-in-out; 
        }

        .right-arrow, .left-arrow {
            cursor: pointer;
        }

        .project-partners{
            min-height: 280px;
        }
        .rights a{
            cursor: pointer;
            transition: all 0.3s ease;
        }
        .rights a:hover{
            color: #bbbbbbdb;
            transition: all 0.3s ease;

        }

/* project partners section */
.project-partners{
    background-color: rgb(43,43,43);
    color: rgb(231,244,244);
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 50;
    padding: 30px 80px;
    padding-bottom: 60px;
}
.partners-box{
    display: flex;
    justify-content: space-between;
    
}
.right-arrow{
   cursor: pointer;
   rotate: 180deg;
}
.right-arrow:hover{
    fill: rgb(181,179,179);
}
.arrow{
    cursor: pointer;
    fill: white;
}
.arrow:hover{
    fill: rgb(181,179,179);
}
.partners-wrapper{
    display: flex;
    align-items: center;
    gap: 120px;
}

.partners-box{
    display: flex;
    align-items: center;
}

.partner-box h2{
    text-align: center;
    transform: translateX(-16%);
    font-size: 30px;
    font-weight: 500;
    font-family: "thin";
    font-size: 28px;
}
.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 40px; 
}

.hidden-question-2{
    display: none;
}
.display-none{
     display: none;
    }

.rights{
    display: flex;
    flex-direction: column;
    gap: 30px;
    }

/* Accordion */
.questions {
  cursor: pointer;
}

.hidden-box {
  /* display: none; */
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease-in-out;
}

.hidden-box.show {
  display: block;
  max-height: 1400px
}
.hiding-p{
    padding-top:5px;
}

.hidden-box-2{
  /* display: none; */
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease-in-out;
}
#accordion-trigger-2{
    padding-bottom: 0;
}
#accordion-trigger-3{
    padding-bottom: 0;
}

.hidden-box-2.show {
  display: block;
  max-height: 600px
}
.hidden-box-3{
  /* display: none; */
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease-in-out;
}

.hidden-box-3.show {
  display: block;
  max-height: 600px
}
.rotate-180 {
  transform: rotate(180deg);
  transition: transform 0.3s ease; 
}
/* slider dots */
 .dot-container {
      display: flex;
      justify-content: center;
      margin-top: 10px;
      gap: 10px;
    }

.dot {
      height: 10px;
      width: 10px;
      margin: 0 5px;
      border-radius: 50%;
      background-color: #bbb;
      cursor: pointer;
    }
.dot.active {
    background-color: white;
    }
  